*.bc
*.dSYM
*.done
*.final
*.gcda
*.gcno
*.i
*.la
*.lo
*.log
*.mem
*.nexe
*.o
*.plist
*.scan
*.sdf
*.status
*.su
*.tar.*
*~
.DS_Store
.deps
.dirstamp
.done
.idea
.libs
build.options.json
cmake-build-*
coverage.info
depcomp
hydrogen-crypto.zip
libhydrogen.a
tests/tests
