<html>
<head>
<title>README</title>
<style>
BODY {
	background: #fff;
	color: #444;
	padding-left: 20%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 20%;
	font-family: sans-serif;
	line-height: 1.6em;
}

DT {
	font-weight: bold;
	margin-top: .33em;
}

H2 {
	color: #000;
	margin-left: -2.5em;
}

H3 {
	color: #000;
	margin-left: -1.5em;
}

.editsection {
	display: none;
}
</style>
</head>
<body>

  <h2>操作方法</h2>
  <p>
    ゲームを読み進めるには、<tt>左クリック</tt>か、<tt>スペースキー</tt>、<tt>
    エンターキー</tt>を押してください。メニューが表示された場合、<tt>左クリック
    </tt>で選択するか、方向キーで選択して<tt>エンターキー</tt>で決定してくださ
    い。
  </p>

  <h3>ゲームメニュー</h3>
  <p>
    ゲーム中に右クリックか Esc を押すと、ゲームメニューを開きます。ゲームメニューでは以下の操作をすることができます。:
  </p>
  <dl>
    <dt>戻る</dt>
    <dd>ゲームに戻ります。</dd>
    <dt>セーブ</dt>
    <dd>セーブスロットをクリックすることで、現在の状態を保存できます。</dd>
    <dt>ロード</dt>
    <dd>セーブスロットをクリックすることで、データをロードできます。 ”オート”をクリックするとオートセーブされたデータをロードすることができます。</dd>
    <dt>環境設定</dt>
    <dd>
      ゲームの環境設定を変更することができます。(options/configuration):
      <dl>
        <dt>画面表示</dt>
        <dd>フルスクリーンとウインドウモードを切り替えます。</dd>
        <dt>画面効果</dt>
        <dd>画面切替時の効果の有無を選択できます。</dd>
        <dt>文字表示速度</dt>
        <dd>文字表示速度を変更します。スライダーを右に動かすほど早く、左に動かすほど遅く表示されます。右端に動かすと、瞬間的に表示されます。</dd>
        <dt>ジョイスティック</dt>
        <dd>ジョイスティックのボタンを割り当てます。</dd>
        <dt>スキップ</dt>
        <dd>既読メッセージのみをスキップするか、未読もスキップするか選択します。</dd>
        <dt>スキップ</dt>
        <dd>ゲームに戻り、スキップを開始します。</dd>
        <dt>選択肢後</dt>
        <dd>選択肢後にスキップを続けるかどうか選択します。</dd>
        <dt>オート待ち時間</dt>
        <dd>オートで読み進める待ち時間を設定します。スライダーを左に動かすほど、読み進める待ち時間が短くなります。右端に動かすと、オートで読み進めるのを止めます。</dd>
        <dt>音楽、効果音、ボイス音量</dt>
        <dd>音楽、効果音、ボイスの各音量を設定出来ます。スライダーを右へ動かすほど、音が大きくなります。</dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>メインメニュー</dt>
    <dd>現在のゲームを終了して、メインメニューに戻ります。</dd>
    <dt>ヘルプ</dt>
    <dd>ヘルプ画面を表示します。</dd>
    <dt>終了</dt>
    <dd>ゲームを全て終了して、ウインドウを閉じます。</dd>
  </dl>

  <h3>キーボードとマウスの割り当て</h3>
  <dl>
    <dt>左クリック、エンターキー</dt>
    <dd>ゲームを進めたり、メニューやボタン、スライダーを決定します。</dd>
    <dt>スペースキー</dt>
    <dd>ゲームを進めますが、メニューやボタン、スライダーを決定できません。</dd>
    <dt>方向キー</dt>
    <dd>メニューやボタン、スライダーを選択します。</dd>
    <dt>Ctrl</dt>
    <dd>キーを押している間、ゲームをスキップします。</dd>
    <dt>Tab</dt>
    <dd>一度押すとスキップを開始します。もう一度押すとスキップを停止します。</dd>
    <dt>マウスホイール上、PageUp</dt>
    <dd>ロールバックを行い、ゲームを巻き戻します。テキストを再び表示したり、別の選択肢を選んだりできるようになります。</dd>
    <dt>マウスホイール下、PageDown</dt>
    <dd>ロールフォワードを行い、ロールバック前の状態に戻ります。</dd>
    <dt>右クリック、Esc</dt>
    <dd>ゲームメニューを表示します。ゲームメニュー表示中は、ゲームに戻ります。</dd>
    <dt>中クリック、H</dt>
    <dd>テキストウィンドウやその他の表示を隠します。</dd>
    <dt>F</dt>
    <dd>フルスクリーンモードを切り替えます。</dd>
    <dt>S</dt>
    <dd>スクリーンショットを撮ります。スクリーンショットは screenshotxxxx.png というファイル名で保存されます。</dd>
    <dt>Alt-M, Command-H</dt>
    <dd>ウインドウを最小化（アイコン化）します。</dd>
    <dt>Alt-F4, Command-Q</dt>
    <dd>ゲームを終了します。</dd>
    <dt>Delete</dt>
    <dd>選択しているセーブスロットを消去します。</dd>
    <dt>v</dt>
    <dd>
      セルフボイシングモードの有効無効を切り替え、OSがサポートするスピーチシンセサイザーを使用してテキストを読み上げます。詳細は<a href="http://www.renpy.org/doc/html/self_voicing.html">self-voicing</a>を参照してください。
    </dd>
    <dt>Shift+C</dt>
    <dd>クリップボードボイシングの有効無効を切り替え、クリップボードにテキストをコピーしてスクリーンリーダーで読み上げられるようにします。</dd>
  </dl>

  <h2>法定通知</h2>
  <p>
    本ゲームは様々なオープンソースプロジェクトのソースコードを使用しています。そのリストとコード入手先は、Ren'py ディレクトリにある LICENSE.txt または <a href="http://www.renpy.org/wiki/renpy/License">http://www.renpy.org/wiki/renpy/License</a> を参照してください。
  </p>
</body>
</html>
