*.rpyc
*.rpyb
*.rpymc
*.pyc
*.pyo

*~
*.bak 

saves
tmp
cache

log.txt
errors.txt
traceback.txt
styles.txt

/build
/dist
/dists
/renpy.app
/jedit
/lint.txt
/renpy.code
/testing*
/screenshot*
/Microsoft.VC90.CRT.manifest
/console.exe
/msvcr90.dll
/python27.dll
/renpy.exe
/lib
/lib.old
/doc
/.pydevproject
/.pydevproject.bak
/.project
/.settings
/LICENSE.txt
/template/README.html
/the_question/README.html
/tutorial/README.html
/renpy/angle/*.pyx
/renpy/angle/*.pxd
/renpy-ppc.zip
/module/build
/module/gen
/editra
/launcher/game/theme

dl
renpy/vc_version.py
.externalToolBuilders
