<html>
<head>
<title>LIES MICH</title>
<style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style>
</head>
<body>

<div id="renpy_help"></div>

<p><a name="About" id="About"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">Generelle Hilfe</span></h2> 
<p>Um durch das Spiel zu spielen, klicken Sie mit der <tt>linken Maustaste</tt> oder drücken Sie die <tt>Leertaste</tt> oder die <tt>Entertaste</tt>. Um eine Auswahl im Menü zu machen, klicken Sie mit der <tt>linken Maustaste</tt>. Benutzen Sie die Pfeiltasten, um eine Auswahl zu markieren und drücken Sie <tt>Enter</tt>, um diese zu bestätigen.</p> 
<p><a name="Game_Menu" id="Game_Menu"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">Spielmenü</span></h3> 
<p>Klicken Sie während des Spiels die <tt>rechte Maustaste</tt> oder die <tt>Escape</tt>-Taste, um das Spielmenü aufzurufen. Das Spielmenü gibt Ihnen die folgenden Auswahlmöglichkeiten:</p> 
<dl> 
<dt>Zurück</dt> 
<dd>Kehrt zum Spiel zurück.</dd> 
<dt>Spiel speichern</dt> 
<dd>Ermöglicht das Speichern des Spiels, indem man auf einen Speicherplatz klickt.</dd> 
<dt>Spiel laden</dt> 
<dd>Ermöglicht das Laden eines Spiels, indem man auf einen Speicherplatz klickt. Unter "Auto" hat man Zugang zu den automatischen Speicherungen.</dd> 
<dt>Einstellungen</dt> 
<dd>Ändert die Spieleinstellungen:
<dl> 
<dt>Anzeige</dt> 
<dd>Wechselt zwischen Vollbild und Fenstermodus.</dd> 
<dt>Übergänge</dt> 
<dd>Kontrolliert die Anzeige von Übergängen zwischen den Spielbildschirmen.</dd> 
<dt>Textgeschwindigkeit</dt> 
<dd>Kontrolliert die Geschwindigkeit, in der der Text angezeigt wird. Je weiter sich der Schieberegler rechts befindet, desto schnell wird der Text angezeigt. Ganz rechts führt dazu, dass der Text sofort angezeigt wird.</dd> 
<dt>Joystick</dt> 
<dd>Lässt Sie das Spiel mit einem Joystick steuern.</dd> 
<dt>Spulen</dt> 
<dd>Wählt zwischen dem Spulen von bereits gesehenen Texten (in jedem Durchgang des Spiels) und dem Spulen von allen Texten.</dd> 
<dt>Spulen beginnen</dt> 
<dd>Kehrt zum Spiel zurück und beginnt das Spulen.</dd> 
<dt>Nach Auswahl</dt> 
<dd>Kontrolliert, ob das Spulen anhalten soll, nachdem eine Auswahlmöglichkeit ausgewählt wurde.</dd> 
<dt>Automatischer Vorlauf</dt> 
<dd>Kontrolliert den automatischen Vorlauf. Je weiter sich der Schieberegler auf der linken Seite befindet, desto kürzer die Dauer, bis das Spiel weiterläuft. Ganz rechts führt dazu, dass der Text niemals automatisch weiterläuft.</dd> 
<dt>Musik-, Sound-, und Sprachlautstärke</dt> 
<dd>Kontrolliert die Lautstärke von der Musik und den Geräuscheffekten. Je weiter die sich die Schieberegler rechts befinden, desto lauter die Lautstärke.</dd> 
</dl> 
</dd> 
</dl> 
<dl> 
<dt>Hauptmenü</dt> 
<dd>Kehrt zum Hauptmenü zurück, beendet laufendes Spiel.</dd> 
<dt>Hilfe</dt> 
<dd>Zeigt diesen Hilfebildschirm.</dd> 
<dt>Beenden</dt> 
<dd>Beendet das Spiel; das Spiel wird geschlossen und endet.</dd> 
</dl> 
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">Tastatur- und Maustasten</span></h3> 
<dl> 
<dt>Linksklick, Enter</dt> 
<dd>Spielt durch das Spiel, bestätigt Auswahlmöglichkeiten, Knöpfe und Schieberegler.</dd> 
<dt>Leertaste</dt> 
<dd>Spielt durch das Spiel, aber bestätigt keine Auswahlmöglichkeiten.</dd> 
<dt>Pfeiltasten</dt> 
<dd>Markiert Auswahlmöglichkeiten, Knöpfe und Schieberegler.</dd> 
<dt>Strg</dt> 
<dd>Aktiviert beim Gedrückthalten den Spulmodus.</dd> 
<dt>Tab</dt> 
<dd>Aktiviert Spulmodus und endet erst beim erneuten Drücken von Tab.</dd> 
<dt>Mausrad-Hoch, Bild Hoch</dt> 
<dd>Ermöglicht zurückscrollen. Durch das Zurückscrollen, läuft das Spiel in der Zeit zurück, zeigt vorherige Texte an und ermöglicht sogar das Ändern von Auswahlmöglichkeiten.</dd> 
<dt>Mausrad-Runter, Bild Runter</dt> 
<dd>Ermöglicht vorscrollen und bricht voriges Zurückscrollen ab.</dd> 
<dt>Rechtsklick, Escape</dt> 
<dd>Ruft das Spielmenü auf. Wenn Sie sich im Spielmenü befinden, kehren Sie so zum Spiel zurück.</dd> 
<dt>Mittelklick, H</dt> 
<dd>Versteckt das Textfenster und andere Anzeigen.</dd> 
<dt>F</dt> 
<dd>Schaltet Vollbildschirm ein</dd> 
<dt>S</dt> 
<dd>Macht einen Screenshot und speichert ihn in der Datei screenshotxxxx.png, wobei xxxx die Seriennummer darstellt.</dd> 
<dt>Alt-H, Befehlstaste-H</dt> 
<dd>Versteckt das Fenster.</dd> 
<dt>Alt-F4, Befehlstaste-Q</dt> 
<dd>Beendet das Spiel.</dd> 
<dt>Entfernen</dt> 
<dd>Wenn ein Speicherplatz markiert ist, löscht dies den Speicherplatz.</dd> 
</dl> 
<p><a name="Legal_Notice" id="Legal_Notice"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">Impressum</span></h2> 
<p>Dieses Spiel verwendet Quellcodes von verschiedenen Open-Source-Projekten. Für eine Auflistung und die Stelle, von der der Quellcode heruntergeladen werden kann, sehen Sie bitte die LICENSE.txt Datei im Ren’Py Programmverzeichnis oder besuchen Sie <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a>.</p> 


</body>
</html>