<html>
<head>
    <meta charset="utf-8" />
<title>README</title>
<style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style>
</head>
<body>

<div id="renpy_help"></div>




<p><a name="Basic_Help" id="Basic_Help"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">Aide rapide</span></h2> 
<p>Pour avancer dans le jeu, effectuez un <tt>clic-gauche</tt> ou bien pressez la touche <tt>espace</tt> ou <tt>entrée</tt>. Dans les menus, faites un <tt>clic-gauche</tt> pour faire un choix, ou utilisez les flèches, et validez votre choix avec la touche <tt>Entrée</tt> pour l'activer.</p> 
<p><a name="Game_Menu" id="Game_Menu"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">Menu du jeu</span></h3> 
<p>Durant le jeu, un <tt>clic-droit</tt> ou la touche <tt>échap</tt> permettent d'afficher le menu du jeu. Ce menu vous propose les options suivantes:</p> 
<dl> 
<dt>Retour</dt> 
<dd>Retourner au jeu.</dd> 
<dt>Sauvegarder</dt> 
<dd>Cela vous permet de sauvegarder le jeu en cliquant sur un emplacement de sauvegarde.</dd> 
<dt>Charger</dt> 
<dd>Vous permet de charger un jeu en cliquant sur un emplacement de sauvegarde. Cliquer sur "Auto" vous donne accès aux sauvegardes automatiques.</dd> 
<dt>Préférences</dt> 
<dd>Change les préférences du jeu:
<dl> 
<dt>Affichage</dt> 
<dd>Alterne entre plein-écran et mode fenêtré.</dd> 
<dt>Transitions</dt> 
<dd>Contrôle le type de transitions entre les écrans de jeu.</dd> 
<dt>Vitesse du texte</dt> 
<dd>Contrôle la vitesse à laquelle le texte défile. Plus l'indicateur est à droite, plus le texte défilera rapidement. Un indicateur totalement à droite impliquera un texte affiché instantanément.</dd> 
<dt>Joystick</dt> 
<dd>Permet de jouer avec un joystick.</dd> 
<dt>Sauter</dt> 
<dd>Alterner entre le saut des messages qui ont déjà été affiché (y compris au cours d'une autre partie), et le saut de tous les messages.</dd> 
<dt>Commencer à sauter</dt>
<dd>Retourner au jeu en sautant les messages.</dd> 
<dt>Après les choix</dt> 
<dd>Contrôle si le saut s'arrête quand apparaît un menu.</dd> 
<dt>Avancement automatique.</dt> 
<dd>Contrôle l'avancement automatique en fonction du temps. Plus l'indicateur est à gauche, moins il faudra de temps pour que le jeu continue de lui-même. Si l'indicateur est totalement à droite, cela signifie que l'avancement automatique est désactivé.</dd> 
<dt>Volume de la musique, des sons et des voix</dt> 
<dd>Contrôle le volume de la musique, des sons et des voix. Plus les indicateurs sont à droite, plus les volumes sont forts.</dd> 
</dl> 
</dd> 
</dl> 
<dl> 
<dt>Menu principal</dt> 
<dd>Retourne au menu principal, met fin à la partie en cours.</dd> 
<dt>Aide</dt> 
<dd>Affiche cet écran d'aide.</dd> 
<dt>Quitter</dt> 
<dd>Quitter le jeu; la partie prend fin et se ferme.</dd> 
</dl> 
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">Actions de la souris et du clavier</span></h3> 
<dl> 
<dt>Clic-gauche, Entrée</dt> 
<dd>Avance dans le jeu, active les options des menus, les boutons et les indicateurs.</dd> 
<dt>Espace</dt> 
<dd>Avance dans le jeu, mais n'active pas les options.</dd> 
<dt>Flèches</dt> 
<dd>Sélectionne les options des menus, les boutons et les indicateurs.</dd> 
<dt>Control</dt> 
<dd>Permet le saut lorsque la touche Control est pressée.</dd> 
<dt>Tabulation</dt> 
<dd>La pression de la touche tabulation cause le saut des messages, jusqu'à ce que celle-ci soit à nouveau pressée.</dd> 
<dt>Molette en haut, Page en haut.</dt> 
<dd>Effectue un retour en arrière. Ce retour permet de remonter le temps, affiche les textes précédents, et permet même de modifier ses choix dans les menus.</dd> 
<dt>Molette en bas, Page en bas.</dt> 
<dd>Permet de ré-avancer dans le jeu, annulant ainsi les retours en arrière.</dd> 
<dt>Clic-droit, échap</dt> 
<dd>Permet d'accéder au menu du jeu. Si on est dans le menu du jeu, permet de revenir au jeu.</dd> 
<dt>Clic-milieu, H</dt> 
<dd>Cache la fenêtre de texte et autres affichages temporaires.</dd> 
<dt>F</dt> 
<dd>Permet d'alterner le plein écran et le mode fenêtré</dd> 
<dt>S</dt> 
<dd>Effectue une capture d'écran nommée screenshotxxxx.png, avec xxxx un numéro de série.</dd> 
<dt>Alt-M, Commande-H</dt> 
<dd>Cache (minimise) la fenêtre.</dd> 
<dt>Alt-F4, Commande-Q</dt> 
<dd>Quitte le jeu.</dd> 
<dt>Suppr</dt> 
<dd>Quand un emplacement de sauvegarde est sélectionné, supprime la sauvegarde.</dd> 
</dl> 
<p><a name="Legal_Notice" id="Legal_Notice"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">Notice légale</span></h2> 
<p>Ce jeu utilise du code provenant de plusieurs projets de logiciels libres. Pour obtenir la liste, ainsi que les adresses à partir desquelles le code source peut être téléchargé, consultez le fichier LICENSE.txt dans le répertoire 'renpy', ou visitez <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a> .</p> 


</body>
</html>
