.wy-nav-content {
    max-width: 1080px;
}


/* Highlighting */


html[data-theme="light"] .highlight .k, html[data-theme="light"] .highlight .kc {
    color: #4040b0 !important;
    font-weight: normal !important;
}

html[data-theme="light"] .highlight .s1, html[data-theme="light"] .highlight .s2, html[data-theme="light"] .highlight .se, html[data-theme="light"] .highlight .sd {
    color: #935c45 !important;
    font-weight: normal !important;
}

html[data-theme="light"] .highlight .c, html[data-theme="light"] .highlight .c1 {
    color: #008000 !important;
    font-style: normal;
}

html[data-theme="light"] .highlight .mi, html[data-theme="light"] .highlight .mf {
    color: #222 !important;
}

html[data-theme="light"] .highlight .na {
    color: #004040 !important;
}




html[data-theme='dark'] .sig .sig-name .pre, html[data-theme='dark'] .sig .sig-prename .pre  {
    color: #fff !important;
}

html[data-theme='dark'] dl > dt.sig {
    background: #000 !important;
    border-left: 3px solid #444 !important;;
    color: #c0c0c0 !important;
}


html[data-theme='dark'] .highlight .k, html[data-theme='dark'] .highlight .kc {
    color: #c586c0 !important;
    font-weight: normal !important;
}

html[data-theme='dark'] .highlight .s1, html[data-theme='dark'] .highlight .s2, html[data-theme='dark'] .highlight .se, html[data-theme='dark'] .highlight .sd {
    color: #ce9178 !important;
    font-weight: normal !important;
}

html[data-theme='dark'] .highlight .c, html[data-theme='dark'] .highlight .c1 {
    color: #6a9955 !important;
    font-style: normal;
}

html[data-theme='dark'] .highlight .mi, html[data-theme='dark'] .highlight .mf {
    color: #b5cea8 !important;
}

html[data-theme='dark'] .highlight .na {
    color: #9cdcfe !important;
}


dt.sig {
    display: block !important;
}

p.caption {
    line-height: inherit !important;
    white-space: normal !important;
    height: auto !important;
    margin: 16px 0 6px 0 !important;
}
