.wy-nav-content {
    max-width: 1080px;
}


/* Highlighting */

html[data-theme='dark'] .pre {
    color: #fff;
}

html[data-theme='dark'] .highlight .k, html[data-theme='dark'] .highlight .kc {
    color: #c586c0 !important;
    font-weight: normal !important;
}

html[data-theme='dark'] .highlight .s1, html[data-theme='dark'] .highlight .s2, html[data-theme='dark'] .highlight .se {
    color: #ce9178 !important;
    font-weight: normal !important;
}

html[data-theme='dark'] .highlight .c, html[data-theme='dark'] .highlight .c1 {
    color: #6a9955 !important;
    font-style: normal;
}

html[data-theme='dark'] .highlight .mi, html[data-theme='dark'] .highlight .mf {
    color: #b5cea8 !important;
}

html[data-theme='dark'] .highlight .na {
    color: #9cdcfe !important;
}


.highlight .k, .highlight .kc {
    color: #4040b0 !important;
    font-weight: normal !important;
}

.highlight .s1, .highlight .s2, .highlight .se {
    color: #935c45 !important;
    font-weight: normal !important;
}

.highlight .c, .highlight .c1 {
    color: #008000 !important;
    font-style: normal;
}

.highlight .mi, .highlight .mf {
    color: #222 !important;
}

.highlight .na {
    color: #004040 !important;
}



dt.sig {
    display: block !important;
}
