<html>
<head>
    <meta charset="utf-8" />
<title>README</title>
<style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style>
</head>
<body>

<div id="renpy_help"></div>




<p><a name="Basic_Help" id="Basic_Help"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">Ayuda básica</span></h2> 
<p>Para avanzar en el juego, haz clic con el <tt>botón izquierdo</tt> del ratón o presiona las teclas <tt>espacio</tt> o <tt>enter</tt>. En los menús, haz clic con el <tt>botón izquierdo</tt> para hacer una elección, o utiliza las teclas de cursor para seleccionar una opción y <tt>enter</tt> para activarla.</p> 
<p><a name="Game_Menu" id="Game_Menu"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">Menú del juego</span></h3> 
<p>Durante el juego, haz clic con el <tt>botón derecho</tt> o presiona la tecla <tt>ESC</tt> para entrar en el menú del juego. El menú del juego ofrece las siguientes opciones:</p> 
<dl> 
<dt>Volver</dt> 
<dd>Vuelve al juego.</dd> 
<dt>Guardar</dt> 
<dd>Permite guardar el juego haciendo clic en uno de los espacios de guardado.</dd> 
<dt>Cargar</dt> 
<dd>Permite cargar una partida haciendo clic en uno de los espacios de guardado. Haciendo clic en "Auto" se accede a los espacios de guardado automático</dd> 
<dt>Opciones</dt> 
<dd>Cambia las opciones del juego:
<dl> 
<dt>Pantalla</dt> 
<dd>Alterna entre la pantalla completa o el modo ventana.</dd> 
<dt>Transiciones</dt> 
<dd>Controla la presentación de transiciones entre las pantallas del juego.</dd> 
<dt>Veloc. texto</dt> 
<dd>Controla la velocidad con la que aparece el texto. Cuanto más a la derecha se selecciona esta barra, el texto se presentará más deprisa. La posición total a la derecha presenta el texto instantáneamente..</dd> 
<dt>Joystick</dt> 
<dd>Permite el control del joystick.</dd> 
<dt>Saltar</dt> 
<dd>Alterna entre saltar los mensajes ya vistos (en cualquiera de las partidas) y saltar todos los mensajes.</dd> 
<dt>Comenzar salto</dt> 
<dd>Vuelve al juego y comienza a saltar los mensajes.</dd> 
<dt>Tras opciones</dt> 
<dd>Controla si el salto se detiene cuando se llega a un menú.</dd> 
<dt>Veloc. auto-avance</dt> 
<dd>Controla el avance automático. Cuanto más a la izquierda se selecciona esta barra, más breve es el tiempo entre los avances del juego. La posición total a la derecha anula el auto-avance.</dd> 
<dt>Volumen de música, sonido y voz</dt> 
<dd>Controla el volumen de los canales de la música, los efectos de sonido y la voz, respectivamente. Cuanto más a la derecha se seleccionan, mayor es el volumen.</dd> 
</dl> 
</dd> 
</dl> 
<dl> 
<dt>Menú principal</dt> 
<dd>Vuelve al menú principal, finalizando la partida actual.</dd> 
<dt>Ayuda</dt> 
<dd>Muestra esta pantalla de ayuda.</dd> 
<dt>Salir</dt> 
<dd>Sale del juego; la partida terminará y el programa se cerrará.</dd> 
</dl> 
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">Acciones del teclado y el ratón</span></h3> 
<dl> 
<dt>Clic izquierdo, Enter</dt> 
<dd>Avanza en el juego, activa las opciones de los menús, botones y barras.</dd> 
<dt>Espacio</dt> 
<dd>Avanza en el juego, pero no activa las opciones.</dd> 
<dt>Flechas de cursor</dt> 
<dd>Seleccionan las opciones del menú, de los botones y de las barras.</dd> 
<dt>Control</dt> 
<dd>Activa el salto de mensajes mientras se mantenga pulsada la tecla Ctrl.</dd> 
<dt>Tabulador</dt> 
<dd>Activa el salto de mensajes que continuará; hasta que el tabulador se presione de nuevo.</dd> 
<dt>Rueda del ratón arriba, Re. Pág.</dt> 
<dd>Activa el retroceso del juego. El retroceso vuelve atrás en la línea de tiempo del juego, muestra el texto anterior y permite la elección de opciones diferentes.</dd> 
<dt>Rueda del ratón abajo, Av. Pág.</dt> 
<dd>Avanza en el juego, eliminando el retroceso anterior.</dd> 
<dt>Clic derecho, ESC</dt> 
<dd>Accede al menú del juego. Si se presiona de nuevo, vuelve al juego.</dd> 
<dt>Clic medio, H</dt> 
<dd>Oculta la ventana de texto y otros elementos de la pantalla.</dd> 
<dt>F</dt> 
<dd>Alterna entre pantalla completa y ventana.</dd> 
<dt>S</dt> 
<dd>Toma la imagen de la pantalla y lo guarda en un archivo llamado screenshotxxxx.png, donde xxxx es un número progresivo.</dd> 
<dt>Alt-M, Comando-H</dt> 
<dd>Oculta (minimiza) la ventana.</dd> 
<dt>Alt-F4, Comando-Q</dt> 
<dd>Sale del juego.</dd> 
<dt>Supr</dt> 
<dd>Cuando se selecciona un espacio de guardado ocupado, lo elimina.</dd> 
</dl> 
<p><a name="Legal_Notice" id="Legal_Notice"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">Nota Legal</span></h2> 
<p>Este juego utiliza código fuente de diversos proyectos de código abierto. La lista y las referencias a las fuentes se encuentran en el archivo LICENSE.txt del directorio 'renpy' y en <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a> .</p> 


</body>
</html>
