<html>
<head>
    <meta charset="utf-8" />
<title>README</title>
<style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style>
</head>
<body>

<div id="renpy_help"></div>




<p><a name="Basic_Help" id="Basic_Help"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">Ajuda Básica</span></h2>
<p>Para avançar no jogo, clique com o <tt>botão esquerdo</tt> do mouse ou pressione as teclas <tt>espaço</tt> ou <tt>enter</tt>. Nos menus, clique com o <tt>botão esquerdo</tt> para fazer uma escolha, ou use as teclas do cursor para selecionar uma opção e <tt>enter</tt> para ativá-la.</p>
<p><a name="Game_Menu" id="Game_Menu"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">Menu do jogo</span></h3>
<p>Durante o jogo, clique com o <tt>botão direito</tt> ou pressione a tecla <tt>ESC</tt> para entrar no menu do jogo. O menu do jogo oferece as seguintes opções:</p>
<dl>
<dt>Retornar</dt>
<dd>Retorna para o jogo.</dd>
<dt>Salvar</dt>
<dd>Permite salvar o jogo clicando em um dos espaços de salvamento.</dd>
<dt>Carregar</dt>
<dd>Permite carregar uma partida clicando em um dos espaços de armazenamento. Clicando em "Auto" são usados os espaçõs de salvamento automático</dd>
<dt>Opções</dt>
<dd>Alterar as opções do jogo:
<dl>
<dt>Tela</dt>
<dd>Alterna entre tela cheia ou modo janela.</dd>
<dt>Transições</dt>
<dd>Controla a exibição de transições entre as telas do jogo.</dd>
<dt>Veloc. texto</dt>
<dd>Controla a velocidade com a qual o texto aparece. Quanto mais para a direita esta barra é selecionado, o texto será mais rápido. A posição global sobre o direito apresenta o texto instantaneamente ..</dd>
<dt>Joystick</dt>
<dd>Permite o controle do joystick.</dd>
<dt>Saltar</dt>
<dd>Alternando entre salto já visto mensagens (em qualquer um dos jogos) e saltar todas as mensagens.</dd>
<dt>Começo do salto</dt>
<dd>Retorna para o jogo e começa a saltar as mensagens.</dd>
<dt>Outras opções</dt>
<dd>Controla se o salto para quando você chegar a um menu.</dd>
<dt>Veloc. auto-progresso</dt>
<dd>Controla o progresso automático. Quanto mais a esquerda se seleciona esta barra, mas rápido será o tempo entre os avanços do jogo. A posição global sobre a direita substitui o auto-progresso.</dd> 
<dt>Volume de música, som e voz</dt>
<dd>Controla o volume de canais de música, efeitos sonoros e voz, respectivamente. O mais à direita são selecionados, maior será o volume.</dd>
</dl>
</dd>
</dl>
<dl>
<dt>Menu principal</dt>
<dd>Volta ao menu principal, terminando o jogo atual.</dd>
<dt>Ajuda</dt>
<dd>Mostra a tela de ajuda.</dd>
<dt>Sair</dt>
<dd>Sai do jogo; a partida encerrará e o programa se fechará.</dd>
</dl>
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">Ações do teclado e mouse</span></h3>
<dl>
<dt>Clique esquerdo, Enter</dt>
<dd>Avança no jogo, ativa as opções dos menus, botões e barras.</dd>
<dt>Espaço</dt>
<dd>Avança no jogo, mas não ativa as opções.</dd>
<dt>Setas do cursor</dt>
<dd>Selecione o menu de opções, botões e barras.</dd>
<dt>Control</dt>
<dd>Permite o salto de mensagens se mantendo pressionada a tecla ctrl.</dd>
<dt>Tab</dt>
<dd>Permite o salto de mensagens contínuo; até que se pressione tab novamente.</dd>
<dt>Scroll do mouse acima, Re. Pág.</dt>
<dd>Ativa o recuo do jogo. O retrocesso vai voltar na linha do tempo do jogo, ele mostra o texto anterior e permite a escolha de diferentes opções.</dd>
<dt>Scroll do mouse abaixo, Av. Pág.</dt>
<dd>Avança no jogo, eliminando o retrocesso anterior.</dd>
<dt>Clique direito, ESC</dt>
<dd>Acesso o menu do jogo. Se for pressionado novamente, volta ao jodo.</dd>
<dt>Clique no botão do meio, H</dt>
<dd>Esconde a janela de texto e outros itens de exibição.</dd>
<dt>F</dt>
<dd>Alterna entre tela cheia e modo de janela.</dd>
<dt>S</dt>
<dd>Captura a imagem da tela e a salva em um arquivo chamado screenshotxxxx.png, onde xxxx é um número progressivo.</dd>
<dt>Alt-M, Comando-H</dt>
<dd>Oculta (minimiza) a janela.</dd>
<dt>Alt-F4, Comando-Q</dt>
<dd>Sai do jogo.</dd>
<dt>Supr</dt>
<dd>Quando um espaço ocupado salvo é selecionado, ele o exclui.</dd>
</dl> 
<p><a name="Legal_Notice" id="Legal_Notice"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">Nota Legal</span></h2> 
<p>Este jogo utiliza diferentes projetos de código fonte aberto. A lista e as referências às fontes encontrado no diretório de arquivos LICENSE.txt 'renpy' e em <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a> .</p>
</body>
</html>
