<html>
<head>
<title>README</title>
<style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style>
</head>
<body>

<div id="renpy_help"></div>




<p><a name="Basic_Help" id="Basic_Help"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">Aiuto di base</span></h2>
<p>Per avanzare nel gioco, <tt>clicka con il pulsante sinistro</tt> o premi i tasti <tt>spazio</tt> o <tt>invio</tt>. Di fronte ad un men&ugrave;, <tt>clicka con il pulsante sinistro</tt> per selezionare una scelta o usa le frecce direzionali e premi <tt>invio</tt> per attivarla.</p>
<p><a name="Game_Menu" id="Game_Menu"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">Men&ugrave; di gioco</span></h3>
<p>Durante una partita, <tt>clicka con il pulsante destro</tt> o premi il tasto <tt>ESC</tt> per entrare nel men&ugrave; di gioco. Il men&ugrave; di gioco offre le scelte seguenti:</p>
<dl>
<dt>Ritorna</dt>
<dd>Ritorna al gioco.</dd>
<dt>Salva Partita</dt>
<dd>Permette di salvare la partita clickando uno slot di salvataggio.</dd>
<dt>Carica Partita</dt>
<dd>Permette di caricare la partita clickando uno slot di salvataggio. Clickando su "Auto" si accede agli slot di salvataggio automatico.</dd>
<dt>Preferenze</dt>
<dd>Cambia le preferenze del gioco (opzioni/configurazione):
<dl>
<dt>Schermo</dt>
<dd>Alterna tra modalit&agrave; schermo intero e modalit&agrave; finestra.</dd>
<dt>Transizioni</dt>
<dd>Controlla la visualizzazione di transizioni tra una schermata e l'altra.</dd>
<dt>Velocit&agrave; del Testo</dt>
<dd>Controlla la velocit&agrave; con la quale il testo viene mostrato. La velocit&agrave; aumenta muovendo lo slider verso destra ed il testo apparir&agrave; istantaneamente se lo slider verr&agrave; portato all'estrema destra.</dd>
<dt>Joystick</dt>
<dd>Permette di controllare il gioco tramite un joystick.</dd>
<dt>Salta</dt>
<dd>Permette di scegliere se saltare tutti i messaggi gi&agrave; letti o tutti i messaggi in assoluto.</dd>
<dt>Inizia a Saltare</dt>
<dd>Ritorna al gioco, saltando.</dd>
<dt>Dopo le Scelte</dt>
<dd>Controlla se si smette di saltare appena raggiunto un men&ugrave;.</dd>
<dt>Avanza Automaticamente</dt>
<dd>Controlla l'avanzamento automatico. Il tempo di avanzamento diminiusce muovendo lo slider verso sinistra ed il testo non avanzer&agrave; mai automaticamente se lo slider verr&agrave; portato all'estrema destra.</dd>
<dt>Volume della Musica, del Suono e della Voce</dt>
<dd>Controlla il volume dei canali di Musica, Suono e Voce, rispettivamente. Il volume aumenter&agrave; muovendo lo slider verso destra.</dd>
</dl>
</dd>
</dl>
<dl>
<dt>Men&ugrave; Principale</dt>
<dd>Ritorna al men&ugrave; principale, terminando la partita corrente.</dd>
<dt>Aiuto</dt>
<dd>Mostra questa schermata di aiuto.</dd>
<dt>Esci</dt>
<dd>Esce dal gioco; il gioco verr&agrave; chiuso e terminato.</dd>
</dl>
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">Configurazione tasti di Mouse e Tastiera</span></h3>
<dl>
<dt>Click-sinistro, Invio</dt>
<dd>Avanza nel gioco, attiva le scelte dei men&ugrave;, i pulsanti e gli slider.</dd>
<dt>Spazio</dt>
<dd>Avanza nel gioco ma non attiva le scelte.</dd>
<dt>Frecce Direzionali</dt>
<dd>Seleziona scelte dei men&ugrave;, i pulsanti e gli slider.</dd>
<dt>Control</dt>
<dd>Salta finch&egrave; il tasto &egrave; tenuto premuto.</dd>
<dt>Tab</dt>
<dd>Attiva/Disattiva salto.</dd>
<dt>Rotella-Su, PageUp</dt>
<dd>Regredisce, mostrando il testo precedente e permettendo di cambiare una scelta gi&agrave; effettuata.</dd>
<dt>Rotella-Gi&ugrave;, PageDown</dt>
<dd>Progredisce, annullando una regressione eseguita in precedenza.</dd>
<dt>Click-destro, ESC</dt>
<dd>Entra nel men&ugrave; di gioco. Quando all'interno del men&ugrave; di gioco, ritorna alla partita.</dd>
<dt>Click-medio, H</dt>
<dd>Nasconde il testo ed altre schermate visibili.</dd>
<dt>F</dt>
<dd>Attiva/Disattiva modalit&agrave; schermo interno.</dd>
<dt>S</dt>
<dd>Scatta uno screenshot, salvandolo in un file chiamato screenshotxxxx.png, dove xxxx &egrave; un numero seriale.</dd>
<dt>Alt-M, Comando-H</dt>
<dd>Nasconde (riduce ad icona) la finestra.</dd>
<dt>Alt-F4, Command-Q</dt>
<dd>Esce dal gioco.</dd>
<dt>Canc</dt>
<dd>Quando uno slot di salvataggio &egrave; selezionato, cancella quello slot.</dd>
</dl>
<p><a name="Legal_Notice" id="Legal_Notice"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">Avviso Legale</span></h2>
<p>Questo gioco fa uso di codice sorgente appartenente a diversi progetti open source. Per una lista di questi progetti e l'indirizzo dove scaricare il loro codice sorgente, si prega di fare riferimento al file LICENSE.txt nella cartella renpy o di visitare <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a> .</p>


</body>
</html>
