#bodyContent {
    font-size: medium;
    background: #fff;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.5em;
}

.editsection {
    display: none;
}

#bodyContent a.external {
    background: none;
    padding-right: 0px;
}