body  {
background-color: #eef;
background-image: url("/wiki-media/renpy/img/left0000.png");
background-repeat: repeat-y;
background-position: -20px 0;
font-family: sans-serif;
}


SPAN.disabled {
        display: none;
}


DIV#content {
        margin-left: 30px;
        margin-right: 10px;
}


H1, H2, H3, H4, H5 {
        margin-left: -10px;
        color: #003080;
}

DIV#page H1 {
        border-bottom: 4px solid #003080;
}

DIV#page H2 {
        border-bottom: 2px solid #003080;
}

PRE {
  background: #e7f7e7;
  border: 1px solid #d7d7d7;
  margin: 1em 1.75em;
  padding: .25em;
  overflow: auto;
}

PRE.renpy { 
  background: #f7f7f7;
}

SPAN.renpy_comment { 
        color: #800000;
}

SPAN.renpy_string { 
        color: #006000;
}

SPAN.renpy_keyword { 
        color: #804000;
}

DIV#preview {
        margin-top: 1em;
	margin-bottom: 1em;
	background: url(/wiki-media/renpy/img/draft.png);
}

DIV.documented {
   padding-left: 2em;
}

DIV.documented DIV.outdent {
   margin-left: -2em;
}

DIV.documented EM {
   color: #003080;
}

TABLE { 
   border-collapse: collapse;
}

TD P {
   margin: 0px;
   padding: 2px;
}

TABLE.sig {
   margin-left: -2em;
   padding: 0px;
   font-size: 100%;
}

TABLE.sig TD {
   margin: 0px;
   padding: 0px;
   vertical-align: top;
}

.footnotes div {
        width: 5em;
        border-top: 1pt solid #C1B496; /* ubuntu dark tan */
}

.footnotes ul {
        padding: 0 2em;
        margin: 0 0 1em;
        list-style: none;
}



A IMG {
        border: 0px;
}

TABLE.doctab  {
        border: 2px solid #003080;
        font-size: 80%;
        align: center;
        margin: 0 auto;
}

TABLE.doctab  TD {
        padding: 2px;
        border: 1px solid #003080;
        text-align: center;
}

TABLE.screenshots {
align: center; 
margin 0px auto;
width: 100%;
text-align: center;
}

TABLE.screenshots TR TD {
align: center; 
width: 50%;
vertical-align: top;
padding-left: 10px;
padding-right: 10px;
}

TABLE.screenshots TR TD IMG {
border: 1px solid black;
}

HR {
        border: 1px solid #003080;
	width: 80%;
}

DIV#content LI P {
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 0px;
}

DIV#content LI {
   margin-top: 0px;
   margin-bottom: .25em;
   padding: 0px;
}
