<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>

<title>README</title><style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style></head>
<body>

<div id="renpy_help"></div>




<p><a name="Basic_Help" id="Basic_Help"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span>&nbsp;<span class="mw-headline">基本説明</span></h2>
<p>若要開始進行遊戲，點擊滑鼠左鍵或按空白鍵與換行鍵。遇到選項或選單，點擊滑鼠左鍵來選擇，或者使用方向鍵來選擇選項並按換行鍵來確定。</p>
<p><a name="Game_Menu" id="Game_Menu"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">遊戲選單</span></h3>
<p>當進行遊戲時，用滑鼠右擊或按下 Esc 鍵進入遊戲選單。遊戲選單給出以下選項：</p>
<dl>
<dt>返回</dt>
<dd>返回遊戲。</dd>
<dt>儲存遊戲</dt>
<dd>允許您通過點擊來保存遊戲到指定的遊戲檔位中。</dd>
<dt>載入</dt>
<dd>允許您通過點擊來載入指定檔位的遊戲檔案。點擊「自動」將訪問自動存儲的檔位。</dd>
<dt>設定<br></dt>
<dd>改變遊戲的偏好（選項/配置）： <dl>
<dt>顯示</dt>
<dd>全屏模式和視窗模式之間切換。</dd>
<dt>過渡</dt>
<dd>控制顯示遊戲螢幕之間的轉換。</dd>
<dt>文字顯示速度<br></dt>
<dd>控制文字顯示的速率。進一步向右滑動此滑塊，文字將更快的顯示。當滑動到最右邊時文字將即時顯示。</dd>
<dt>遊戲桿</dt>
<dd>讓您使用遊戲桿來進行遊戲。</dd>
<dt>略過<dt>
<dd>在選擇略過已讀訊息（遊戲中經歷的所有）和略過所有訊息之間作選擇。</dd>
<dt>開始略過<br></dt>
<dd>返回遊戲，並開始略過模式。</dd>
<dt>選擇後<br></dt>
<dd>控制略過模式遇到選單是否停止。<br></dd>
<dt>自動前行時間<br></dt>
<dd>控制自動化選項，再向左邊表示自動等待的時間越短。當滑動到最右邊時文字將不會自動前行。</dd>
<dt>音樂、音效、聲音音量</dt>
<dd>控制音樂、音效和聲音音量。當滑動到最右邊表示最大音量。</dd>
</dl>
</dd>
</dl>
<dl>
<dt>標題畫面<br></dt>
<dd>返回標題畫面，並結束當前遊戲。</dd>
<dt>説明</dt>
<dd>顯示此説明至螢幕。</dd>
<dt>離開</dt>
<dd>離開遊戲，遊戲將結束並關閉。</dd>
</dl>
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">鍵盤和滑鼠綁定</span></h3>
<dl>
<dt>左擊，換行鍵</dt>
<dd>繼續遊戲，確定選項按鈕和滑動塊。</dd>
<dt>空白鍵</dt>
<dd>繼續遊戲，但不會確認選項。</dd><dd><br></dd>
<dt>方向鍵</dt>
<dd>選擇選項，按鈕和滑動塊。</dd>
<dt>Ctrl</dt>
<dd>按住快速略過模式。</dd>
<dt>Tab</dt>
<dd>切換略過模式，再次按下前會維持。</dd>
<dt>滑鼠滾輪向上、PageUp</dt>
<dd>產生回溯。回滾到遊戲之前的對話選項等。</dd>
<dt>滑鼠滾輪向下、PageDown</dt>
<dd>產生反回溯。取消前一次回滾。</dd>
<dt>右擊、Esc</dt>
<dd>進入遊戲選單，當在遊戲選單中則返回遊戲。</dd>
<dt>滑鼠中鍵、H<br></dt>
<dd>隱藏文字視窗和其他暫時顯示的內容。</dd>
<dt>F</dt>
<dd>切換全螢幕模式。<br></dd>
<dt>S</dt>
<dd>產生截圖，保存類型為 screenshootxxxx.png ，其中 xxxx 表示一組數位串。</dd>
<dt>Alt-M, Command-M</dt>
<dd>最小化視窗到工作列。</dd>
<dt>Alt-F4, Command-Q</dt>
<dd>離開遊戲。</dd>
<dt>Delete</dt>
<dd>當選定一個檔位時，則刪除該存檔。</dd>
</dl>
<p><a name="Legal_Notice" id="Legal_Notice"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">法律公告</span></h2>
<p>本遊戲使用了各種開源專案的原始程式碼。如果您需要獲取原始碼和清單，請參閲 Ren'py 目錄中的 LICENSE.txt 檔案，或者訪問 <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a>。</p>

</body></html>
