<html>
<head>
<title>README</title>
<style>
BODY {
	background: #fff;
	color: #444;
	padding-left: 20%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 20%;
	font-family: sans-serif;
	line-height: 1.6em;
}

DT {
	font-weight: bold;
	margin-top: .33em;
}

H2 {
	color: #000;
	margin-left: -2.5em;
}

H3 {
	color: #000;
	margin-left: -1.5em;
}

.editsection {
	display: none;
}
</style>
</head>
<body>

  <h2> Dasar Bantuan </h2>
  <p>
    Untuk maju melalui permainan, <tt> klik kiri-</tt> atau tekan <tt> spasi </tt> atau <tt> masukkan </tt> kunci. Ketika di menu,
    <Tt> klik kiri </tt> untuk membuat pilihan, atau gunakan tombol panah untuk memilih pilihan dan <tt> masukkan </tt> untuk mengaktifkannya.
  </p>

  <H3> Game Menu </h3>
  <P>
    Ketika bermain game, <tt> klik kanan </tt> atau tekan <tt> melarikan diri </tt> untuk masuk ke menu game. Menu permainan
    memberikan pilihan berikut:
  </p>

  <Dl>
    <Dt> Kembali </dt>
    <Dd> Kembali ke permainan. </dd>
    <Dt> Simpan Game </dt>
    <Dd> Memungkinkan Anda untuk menyimpan permainan dengan mengklik slot save. </dd>
    <Dt> Load Game </dt>
    <Dd> Memungkinkan Anda untuk meload permainan dengan mengklik slot save. Mengklik "Auto" mengakses slot save otomatis. </dd>
    <Dt> Preferences </dt>
    <Dd>
      Mengubah preferensi permainan (pilihan / konfigurasi):
      <Dl>
        <Dt> Tampilan </dt>
        <Dd> Ganti antara fullscreen dan mode windowed. </dd>
        <Dt> Transisi </dt>
        <Dd> Mengontrol tampilan transisi antara layar permainan. </dd>
        <Dt> Kecepatan Teks </dt>
        <Dd> Kontrol tingkat di mana menampilkan teks. Lebih lanjut ke kanan slider ini, lebih cepat teks
          akan ditampilkan. Semua cara untuk teks penyebab yang tepat yang akan ditampilkan langsung. </dd>
        <Dt> Joystick </dt>
        <Dd> Memungkinkan Anda mengontrol permainan menggunakan joystick. </dd>
        <Dt> Lewati </dt>
        <Dd> Memilih antara melewatkan pesan yang telah sudah terlihat (dalam bermain apapun melalui permainan), dan
          melewatkan semua pesan. </dd>
        <Dt> Mulai Lompati </dt>
        <Dd> Kembali ke permainan, sementara melompat. </dd>
        <Dt> Setelah Pilihan </dt>
        <Dd> Controls jika melewatkan berhenti setelah mencapai menu. </dd>
        <Dt> Waktu Auto-Forward </dt>
        <Dd> Kontrol muka otomatis. Lebih lanjut ke kiri slider ini, yang lebih pendek jumlah waktu
          sebelum kemajuan permainan. Semua jalan ke kanan berarti teks tidak akan pernah auto-maju. </dd>
        <Dt> Music, Volume Suara, dan Voice </dt>
        <Dd> Mengontrol volume Music, efek suara, dan saluran suara, masing-masing. Lebih lanjut ke
          kanan ini, yang lebih keras volume. </dd>
      </dl>
    </dd>
    <Dt> Menu Utama </dt>
    <Dd> Mengembalikan ke menu utama, mengakhiri permainan saat ini. </dd>
    <Dt> Bantuan </dt>
    <Dd> Menunjukkan layar bantuan ini. </dd>
    <Dt> Keluar </dt>
    <Dd> Keluar permainan; permainan akan ditutup dan berakhir. </dd>
  </dl>

  <H3> Key dan Mouse Bindings </h3>
  <Dl>
    <Dt> Kiri-klik, Enter </dt>
    <Dd> Kemajuan melalui permainan, mengaktifkan pilihan menu, tombol, dan slider. </dd>
    <Dt> Ruang </dt>
    <Dd> Kemajuan melalui permainan, tapi tidak mengaktifkan pilihan. </dd>
    <Dt> Arrow Keys </dt>
    <Dd> menavigasi antara menu pilihan, tombol, dan slider. </dd>
    <Dt> Ctrl </dt>
    <Dd> Penyebab melewatkan terjadi sementara tombol ctrl ditekan. </dd>
    <Dt> Tab </dt>
    <Dd> Mengaktifkan melompat-lompat, menyebabkan ia terjadi sampai tab ditekan lagi. </dd>
    <Dt> roda mouse-Up, PageUp </dt>
    <Dd> Penyebab rollback terjadi. Rollback membalikkan permainan kembali waktu, menunjukkan teks sebelum dan bahkan memungkinkan
      pilihan menu untuk berubah. </dd>
    <Dt> roda mouse-Down, PageDown </dt>
    <Dd> Penyebab rollforward terjadi, membatalkan sebuah rollback sebelumnya. </dd>
    <Dt> Klik kanan, Escape </dt>
    <Dd> Memasuki menu game. Ketika di menu permainan, kembali ke permainan. </dd>
    <Dt> Tengah-klik, H </dt>
    <Dd> Menyembunyikan jendela teks dan menampilkan sementara lainnya. </dd>
    <Dt> F </dt>
    <Dd> Toggles mode fullscreen </dd>
    <Dt> S </dt>
    <Dd> Membawa screenshot, menyimpannya dalam sebuah file bernama screenshotxxxx.png, di mana xxxx adalah nomor seri. </dd>
    <Dt> Alt-M, Command-H </dt>
    <Dd> Jangat (iconifies) jendela. </dd>
    <Dt> Alt-F4, Command-Q </dt>
    <Dd> Quits permainan. </dd>
    <Dt> Hapus </dt>
    <Dd> Ketika slot save dipilih, menghapus yang Hemat Slot. </dd>
    <Dt> v </dt>
    <Dd>
      Matikan mode self-menyuarakan, yang berbunyi teks ke pengguna menggunakan speech synthesizer os-disediakan. Untuk lebih
      informasi, silakan baca sendiri menyuarakan <a href="http://www.renpy.org/doc/html/self_voicing.html"> </a>
      dokumentasi.
    </dd>
    <Dt> Shift + C </dt>
    <Dd> modus Beralih clipboard-menyuarakan, yang salinan teks ke clipboard sehingga dapat dibaca oleh pembaca layar. </dd>
  </dl>

  <H3> Kontroler Dukungan dan Bindings </h3>

  <P>
    Game ini akan secara otomatis mendeteksi dan pengendali penggunaan permainan didukung oleh
    SDL2. kontroler lain dapat dikonfigurasi dengan menggunakan alat konfigurasi pihak ketiga
    seperti <a href="http://www.generalarcade.com/gamepadtool/"> SDL2 Gampad Alat </a>
  </p>

  <P>
    Sejumlah kecil sistem mungkin memiliki masalah dengan menggunakan pengendali permainan terdeteksi. Harus
    itu terjadi, tahan shift karena permainan dimulai, dan menonaktifkan dukungan kontroler.
  </p>

  <P> The binding berikut digunakan: </p>

  <Dl>
    <Dt> kanan Trigger, A (Bawah Button) </dt>
    <Dd> Kemajuan melalui permainan, mengaktifkan pilihan menu, tombol, dan slider. </dd>

    <Dt> Panduan, Mulai </dt>
    <Dd> Memasuki menu game. Ketika di menu permainan, kembali ke permainan. </dd>

    <Dt> Directional Pad, Analog Sticks </dt>
    <Dd> menavigasi antara menu pilihan, tombol, dan slider. </dd>

    <Dt> Kiri Trigger, Bahu Kiri, Kembali </dt>
    <Dd> Penyebab rollback terjadi. Rollback membalikkan permainan kembali waktu, menunjukkan teks sebelum dan bahkan memungkinkan
      pilihan menu untuk berubah. </dd>

    <Dt> Shoulder kanan </dt>
    <Dd> Penyebab rollforward terjadi, membatalkan sebuah rollback sebelumnya. </dd>

    <Dt> Y (Top Button) </dt>
    <Dd> Menyembunyikan jendela teks dan menampilkan sementara lainnya. </dd>

  </dl>

  <H2> Pemberitahuan Hukum </h2>
  <P>
    Program ini berisi perangkat lunak bebas dibawah lisensi sejumlah lisensi, termasuk GNU Public License Lesser. SEBUAH
    Daftar lengkap perangkat lunak tersedia di <a href="http://www.renpy.org/doc/html/license.html"> http://www.renpy.org/doc/html/license.html</a>.
  </p>

</body>
</html>
