<html>
<head>
<title>README</title>
<style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style>
</head>
<body>

<div id="renpy_help"></div>



<p><a name="Basic_Help" id="Basic_Help"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">기본 도움말</span></h2> 
<p>게임을 진행하려면 <tt>마우스 좌클릭</tt> 또는 <tt>스페이스 바</tt>, <tt>엔터 키</tt>를 누르세요. 선택지 화면에서는 <tt>좌클릭으로</tt> 선택지를 고르거나, 화살표 키로 선택지를 고르고<tt>엔터 키</tt>로 선택할 수 있습니다..</p> 
<p><a name="Game_Menu" id="Game_Menu"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">게임 메뉴</span></h3> 
<p>게임을 플레이하는 도중, <tt>마우스 좌클릭</tt> 또는 <tt>Esc</tt> 키를 입력하면 게임 메뉴를 열 수 있습니다. 게임 메뉴에서 선택할 수 있는 기능은 다음과 같습니다.</p> 
<dl> 
<dt>돌아가기</dt> 
<dd>게임 화면으로 돌아갑니다.</dd> 
<dt>저장하기</dt> 
<dd>세이브 슬롯을 클릭해 게임을 저장할 수 있습니다.</dd> 
<dt>불러오기</dt> 
<dd>세이브 슬롯을 클릭해 게임을 불러올 수 있습니다. "자동" 버튼을 클릭하면 자동 저장 슬롯을 확인합니다.</dd> 
<dt>환경설정</dt> 
<dd>게임 환경을 설정합니다.:
<dl> 
<dt>화면 모드</dt> 
<dd>창 모드나 전체화면 모드로 변경합니다.</dd> 
<dt>언어</dt> 
<dd>게임 화면에서 표시할 언어를 선택합니다.</dd> 
<dt>텍스트 표시 속도</dt> 
<dd>텍스트 표시 속도를 제어합니다. 슬라이더를 오른쪽으로 이동할 수록 텍스트 표시 속도가 빨라집니다. 맨 오른쪽으로 이동하면 텍스트가 한번에 표시됩니다.</dd> 
<dt>조이스틱</dt> 
<dd>조이스틱을 사용해 게임을 진행할 수 있도록 합니다.</dd> 
<dt>스킵</dt> 
<dd>게임을 진행하면서 한 번 확인한 메시지를 스킵하거나, 모든 메시지를 스킵하도록 선택합니다.</dd> 
<dt>스킵 시작</dt> 
<dd>대사를 스킵하기 시작하고 게임 화면으로 돌아갑니다.</dd> 
<dt>선택지 이후</dt> 
<dd>선택지에 도달했을 때 스킵을 멈출 것인지 말 것인지 선택합니다.</dd> 
<dt>자동 진행 시간</dt> 
<dd>자동 진행 시간을 조절합니다. 슬라이더가 왼쪽으로 이동할 수록 다음으로 넘어가기까지 필요한 시간이 짧아집니다. 맨 오른쪽으로 이동하면 자동 진행을 하지 않습니다.</dd> 
<dt>배경음, 효과음, 음성 크기</dt> 
<dd>배경음, 효과음, 음성 채널의 크기를 조절합니다. 슬라이더가 오른쪽으로 이동할 수록 소리 크기가 커집니다.</dd> 
</dl> 
</dd> 
</dl> 
<dl> 
<dt>메인 메뉴</dt> 
<dd>현재 게임을 종료하고 메인 메뉴로 돌아갑니다.</dd> 
<dt>도움말</dt> 
<dd>현재 보고 있는 도움말 화면을 표시합니다.</dd> 
<dt>나가기</dt> 
<dd>게임을 종료합니다.</dd> 
</dl> 
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p> 
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">키와 마우스 버튼의 기능</span></h3> 
<dl> 
<dt>좌클릭, Enter 키</dt> 
<dd>게임을 진행하고, 선택지, 버튼, 슬라이더를 선택합니다.</dd> 
<dt>Space 키</dt> 
<dd>게임을 진행하지만 선택지를 선택하지는 않습니다.</dd> 
<dt>화살표 키</dt> 
<dd>선택지, 버튼, 슬라이더를 고릅니다.</dd> 
<dt>Ctrl키</dt> 
<dd>Ctrl 키를 누르고 있는 동안 메시지를 스킵합니다.</dd> 
<dt>Tab 키</dt> 
<dd>Tab 키를 누를 때마다 스킵 기능을 시작하거나 중단합니다.</dd> 
<dt>마우스 휠 올리기, PageUp 키</dt> 
<dd>롤백합니다. 롤백은 게임을 이전 상태로 돌리는 것으로, 이전 텍스트를 표시하거나 선택지를 변경할 수 있습니다.</dd> 
<dt>마우스 휠 내리기, PageDown 키</dt> 
<dd>롤포워드를 실행해 이전 롤백을 취소합니다.</dd> 
<dt>좌클릭, Esc 키</dt> 
<dd>게임 메뉴를 엽니다. 게임 메뉴가 열려있을 때에는 게임으로 돌아갑니다.</dd> 
<dt>휠 버튼 클릭, H 키</dt> 
<dd>텍스트 창이나 기타 UI를 숨깁니다.</dd> 
<dt>F</dt> 
<dd>전체 화면 모드나 창 모드로 전환합니다.</dd> 
<dt>S</dt> 
<dd>스크린샷을 찍어 screenshotxxxx.png 파일에 저장합니다. 파일 이름의 xxxx는 스크린샷을 찍을 수록 증가하는 숫자입니다.</dd> 
<dt>Alt-M, Command-H</dt> 
<dd>창을 작업표시줄로 이동시킵니다.</dd> 
<dt>Alt-F4, Command-Q</dt> 
<dd>게임을 종료합니다.</dd> 
<dt>Delete 키</dt> 
<dd>선택 중인 세이브 슬롯을 삭제합니다.</dd> 
</dl> 
<p><a name="Legal_Notice" id="Legal_Notice"></a></p> 
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">법적 사항 고지</span></h2> 
<p>이 게임은 다양한 오픈 소스 프로젝트의 소스 코드를 사용합니다. 사용한 프로젝트 목록과 다운로드 위치를 확인하려면 렌파이 폴더에 있는 License.txt를 확인하거나 <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a> 페이지를 확인하세요.</p> 


</body>
</html>
