<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>

<title>README</title><style>

BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}

DT {
font-weight: bold;
margin-top: .33em;
}

H2 {
color: #000;
margin-left: -2.5em;
}

H3 {
color: #000;
margin-left: -1.5em;
}

.editsection {
display: none;
}

</style></head>
<body>

<div id="renpy_help"></div>




<p><a name="Basic_Help" id="Basic_Help"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span>&nbsp;<span class="mw-headline">基本说明</span></h2>
<p>要进行游戏，请使用鼠标左键或空格、回车键阅读文本。遇到选项时，请使用鼠标指针指向并左键选择，或使用方向键选择一个选项，按下回车键选择。</p>
<p><a name="Game_Menu" id="Game_Menu"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">游戏菜单</span></h3>
<p>游戏过程中，按下鼠标右键或 Esc 键，会出现如下菜单：</p>
<dl>
<dt>返回</dt>
<dd>返回游戏。</dd>
<dt>储存游戏</dt>
<dd>允许您通过点击来保存游戏进度到指定的存档位中。</dd>
<dt>载入游戏</dt>
<dd>允许您通过点击指定存档位中的存档加载游戏进度。点击「自动」将会访问自动存档的存档位。</dd>
<dt>环境设置</dt>
<dd>改变游戏的偏好设定（显示 / 阅读） 
  <dl>
<dt>显示模式</dt>
<dd>在全屏幕与窗口模式之间切换。</dd>
<dt>转场特效</dt>
<dd>开启或关闭游戏中的过渡效果。</dd>
<dt>文字显示速度</dt>
<dd>控制每一行文本的显示速率，滑块越往右则越快。当滑块最靠右时，每行文本将瞬间显示完毕。</dd>
<dt>手柄</dt>
<dd>让您使用手柄操作游戏。</dd>
<dt>快进模式
<dd>在跳过已读文本与全部文本之间进行选择。</dd>
<dt>开始快进</dt>
<dd>返回游戏，并开始快进。</dd>
<dt>选项后</dt>
<dd>控制遇到选项之后快进模式是否停止。</dd>
<dt>自动模式等待时间</dt>
<dd>控制自动模式下文本的阅读时间，滑块越靠左时间越短，当滑块最靠右时自动模式将失效。</dd>
<dt>音乐、音效、语音音量</dt>
<dd>分别控制对应的音量大小，滑块越靠右音量越大。</dd>
</dl>
</dd>
</dl>
<dl>
<dt>标题画面</dt>
<dd>终止当前游戏，返回标题画面。</dd>
<dt>帮助</dt>
<dd>打开此帮助页面。</dd>
<dt>退出游戏</dt>
<dd>结束并退出游戏。</dd>
</dl>
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">键盘与鼠标键位</span></h3>
<dl>
<dt>左键，回车键</dt>
<dd>阅读游戏文本，确定选择。</dd>
<dt>空格键</dt>
<dd>阅读游戏文本，但不会确定选择。</dd>
<dd>&nbsp;</dd>
<dt>方向键</dt>
<dd>选择选项、按钮与控制滑块</dd>
<dt>Ctrl</dt>
<dd>按住即为快进模式</dd>
<dt>Tab</dt>
<dd>切换快进模式，再次按下前会保持最后一个选择的模式。</dd>
<dt>鼠标滚轮向上、PageUp</dt>
<dd>查看之前的文本、选项等。</dd>
<dt>鼠标滚轮向下、PageDown</dt>
<dd>与上述操作相反。</dd>
<dt>右键、Esc</dt>
<dd>进入游戏菜单（返回上一级），若处在游戏菜单中则返回游戏。</dd>
<dt>鼠标中键、H</dt>
<dd>隐藏文本框和临时性内容。</dd>
<dt>F</dt>
<dd>切换屏幕模式。</dd>
<dt>S</dt>
<dd>截图，其命名为 screenshootxxxx.png ，xxxx表示一串数字。</dd>
<dt>Alt+M, Command+M</dt>
<dd>最小化窗口至任务栏。</dd>
<dt>Alt+F4, Command+Q</dt>
<dd>离开游戏。</dd>
<dt>Delete</dt>
<dd>若选中了一个存档，则删除这个存档。</dd>
</dl>
<p><a name="Legal_Notice" id="Legal_Notice"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">法律公告</span></h2>
<p>本游戏基于多项开源程序的源码制作。若你需要查阅源码和程序列表，请参阅 Ren'py 目录中的 LICENSE.txt 文件，或者访问 <a href="http://www.renpy.org/wiki/renpy/License" class="external free" title="http://www.renpy.org/wiki/renpy/License" rel="nofollow">http://www.renpy.org/wiki/renpy/License</a>。</p>

</body></html>
