<html>
<head>
<title>README</title>
<style>
BODY {
background: #fff;
color: #444;
padding-left: 20%;
padding-top: 1em;
padding-bottom: 1em;
padding-right: 20%;
font-family: sans-serif;
line-height: 1.6em;
}
DT {
font-weight: bold;
margin-top: .33em;
}
H2 {
color: #000;
margin-left: -2.5em;
}
H3 {
color: #000;
margin-left: -1.5em;
}
.editsection {
display: none;
}
</style>
</head>
<body>
<div id="renpy_help"></div>
<p><a name="Basic_Help" id="Basic_Help"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=1" title="Edit section: Basic Help">edit</a>]</span> <span class="mw-headline">Помощь по игре</span></h2>
<p>Для продвижения по игре используйте <tt>левую клавишу мыши</tt> или клавиши <tt>пробел</tt> или <tt>enter</tt>. В меню используйте <tt>левый клик мыши</tt> или <tt>клавиши-стрелки ↑, ↓, ←, →</tt> для нужного выбора.</p>
<p><a name="Game_Menu" id="Game_Menu"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=2" title="Edit section: Game Menu">edit</a>]</span> <span class="mw-headline">Игровое меню</span></h3>
<p>Во время игры нажмите <tt>правую клавишу мыши</tt> или клавишу <tt>esc</tt>, чтобы войти в игровое меню. Игровое меню предлагает несколько вариантов дальнейших действий, к тому же в нём автоматически расположены сохранения. Давайте разберём всё, что здесь есть:</p>
<dl>
<dt>Назад</dt>
<dd>Возвращение в игру.</dd>
<dt>Сохранить игру</dt>
<dd>Даёт возможность сохранить игру, кликнув на один из слотов. Эта функция автоматически появляется при переходе в игровое меню для удобства.</dd>
<dt>Загрузить игру</dt>
<dd>Даёт возможность загружать игру, кликнув на уже существующий слот сохранения. Кликнув на подменю "Авто", вы можете загрузиться с автоматических сохранений, которые игра делает сама.</dd>
<dt>Настройки</dt>
<dd>Изменяет настройки игры. Вот список всех возможных настроек:
<dl>
<dt>Режим экрана</dt>
<dd>Переключение между оконным режимом и полноэкранным.</dd>
<dt>Переходы</dt>
<dd>Контролирует отображение переходов между игровыми сценками.</dd>
<dt>Скорость текста</dt>
<dd>Контролирует скорость появления текста на экране. Если вы не хотите ждать появления текста, то передвиньте ползунок вправо на максимум — при такой настройке текст появляется мгновенно.</dd>
<dt>Джойстик</dt>
<dd>Даёт возможность продвижения по игре с использованием джойстика.</dd>
<dt>Пропуск</dt>
<dd>Даёт возможность выбрать вариант пропуска текста при нажатии <tt>Ctrl</tt> и <tt>Tab</tt>. Пропускать либо все прочитанные сообщения, либо вообще все.</dd>
<dt>Начать пропуск</dt>
<dd>Возвращает вас в игру и начинает пропуск.</dd>
<dt>Пропуск после выборов</dt>
<dd>Настройка действия в режиме пропуска при встрече с меню выбора.</dd>
<dt>Скорость авто-чтения</dt>
<dd>Контролирует скорость режима авто-чтения. </dd>
<dt>Громкость музыки, звука и голоса</dt>
<dd>Соответственно контролирует громкость. Если вам не нравится музыка или звук, то можете отключить их, передвинув ползунок крайне влево.</dd>
</dl>
</dd>
</dl>
<dl>
<dt>Главное меню</dt>
<dd>Возвращает вас в главное меню и завершает вашу текущую игру.</dd>
<dt>Помощь</dt>
<dd>Показывает этот экран помощи.</dd>
<dt>Выход</dt>
<dd>Выход из игры, с полным закрытием приложения.</dd>
</dl>
<p><a name="Key_and_Mouse_Bindings" id="Key_and_Mouse_Bindings"></a></p>
<h3><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=3" title="Edit section: Key and Mouse Bindings">edit</a>]</span> <span class="mw-headline">Горячие клавиши во время игры</span></h3>
<dl>
<dt>Левый клик, Enter</dt>
<dd>Позволяют проходить по сюжету игры, активируют выборы, кнопки и позволяют передвигать ползунки.</dd>
<dt>Пробел</dt>
<dd>Позволяет проходить по сюжету игры и всё.</dd>
<dt>Клавиши-стрелки</dt>
<dd>Позволяют передвигаться по игровому интерфейсу и передвигать ползунки.</dd>
<dt>Ctrl</dt>
<dd>Начинает пропуск, пока Ctrl зажат.</dd>
<dt>Tab</dt>
<dd>Начинает пропуск, пока Tab не будет нажат снова.</dd>
<dt>Колёсико мыши вверх, PageUp</dt>
<dd>Позволяют ограниченно вернуться назад по сюжету игры.</dd>
<dt>Колёсико мыши вниз, PageDown</dt>
<dd>Работают в обратном направлении, откатывая игру вперёд.</dd>
<dt>Правый клик, Escape</dt>
<dd>Вход в игровое меню. В игровом меню возвращает в игру.</dd>
<dt>Клик по колёсику/средней кнопки мыши, H</dt>
<dd>Прячут окно текста, интерфейс и другие экраны.</dd>
<dt>F</dt>
<dd>Переключает игру между полноэкранным и оконным режимами.</dd>
<dt>S</dt>
<dd>Делает снимок игры и помещает его в файл, сохранённый в .png формате, в директории игры.</dd>
<dt>Alt-M, Command-H</dt>
<dd>Минимизируют окно</dd>
<dt>Alt-F4, Command-Q</dt>
<dd>Выход из игры</dd>
<dt>Delete</dt>
<dd>Если выбран слот сохранения — удаляет его.</dd>
<dt>v</dt>
<dd>Включение синтезатора речи операционной системы, читающего текст на экране. Больше информации в <a href="http://www.renpy.org/doc/html/self_voicing.html">документации синтеза речи</a>.</dd>
<dt>Shift+C</dt>
<dd>Включение режима копирования текста, который помещает текущий текст в буфер обмена, например, чтобы его мог прочитать синтезатор речи.</dd>
</dl>
  <h3>Поддержка геймпада и управление</h3>
  <p>
    Эта игра должна автоматически обанруживать и использовать игровые контроллёры, поддерживаемые SDL2. Другие контроллёры могу быть настроены при использовании сторонних утилит, таких как <a href="http://www.generalarcade.com/gamepadtool/">SDL2 Gampad Tool</a>
  </p>
  <p>
    В некоторых системах могут появиться проблемы с обнаружением контроллёров. Если такое случится, зажмите shift при старте игры и выключите поддержку контроллёра.
  </p>
  <dl>
    <dt>Управление:</dt>
    <dt>Правый триггер, A (Нижняя кнопка)</dt>
    <dd>Продвижение по игре, активация выборов, кнопок и ползунков.</dd>
    <dt>Guide, Start</dt>
    <dd>Вход в игровое меню. В игровом меню возвращает обратно в игру.</dd>
    <dt>Крестовина, Аналоговые Стики</dt>
    <dd>Навигация между выборами, кнопками и ползунками.</dd>
    <dt>Левый Триггер, Левый Бампер, Back</dt>
    <dd>Откатывают прогресс игры назад. Откат показывает предыдущий текст и даже может изменить игровой выбор.</dd>
    <dt>Правый Бампер</dt>
    <dd>Откатывает игровой процесс вперёд, отменяя предыдущее действие.</dd>
    <dt>Y (Верхняя кнопка)</dt>
    <dd>Прячет текст, интерфейс и прочие экраны.</dd>
  </dl>
<p><a name="Legal_Notice" id="Legal_Notice"></a></p>
<h2><span class="editsection">[<a href="/w/index.php?title=renpy/Help&amp;action=edit&amp;section=4" title="Edit section: Legal Notice">edit</a>]</span> <span class="mw-headline">Лицензия</span></h2>
<p>Эта игра использует исходный код свободных и открытых проектов. Их список находится <a href="https://www.renpy.org/doc/html/license.html" class="external free" title="renpy.org/wiki/renpy/License" rel="nofollow">здесь</a>.</p>
</body>
</html>